<!-- <form>
  <label for="search_title">Title: </label><input type="text" name="title" id="search_title" />
  <label for="search_director">Director: </label><input type="text" name="director" id="search_director">
  <button type="submit">Search</button>
</form> -->
<div class="container-fluid">
<div class="row">
  <%= form_for(:search, method: :get, html: { class: "form-inline" }) do |form| %>
    <div class="form-group">
      <%= form.label "title" %>
      <%= form.text_field "title", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label "director" %>
      <%= form.text_field "director", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label "runtime_in_minutes" %>
      <%= form.select "runtime_in_minutes", options_for_select(@duration_options), {}, class: 'form-control'  %>
    </div>
    <%= form.submit "Search", class: 'btn btn-default' %>
  <% end %>
</div>
</div>

<h1>Rotten Mangoes</h1>
<%= paginate @movies %>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image_url.to_s), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>